.pl {
  /* padding: 5px 200px; */
  display: block;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.p-list {
  padding: 0 10%;
  display: flex;
  flex-direction: inline-flex;
  margin: 5%;
  height: 60vh;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.p-list img {
  max-width: 100%;
}

.p-des {
  font-size: 1.2vw;
  margin: 5%;
  align-items: strech;
  color: rgb(98, 97, 97);
}

.p-title {
  font-size: 2vw;
  margin-top: 20%;
  font-weight: bold;
  color: rgb(162, 188, 48);
}

.a {
  margin: 5%;
}
