.pl {
  /* padding: 5px 200px; */
  display: block;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  background-color: #212121;
  padding-top: 5%;
}
.products {
  display: flex;
  flex-direction: column;
}

.products2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.p-list {
  background-color: #dce8f3;
  border-radius: 1em;
  padding: 5%;
  margin: 2% 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}




.p-list img {
  max-width: 100%;
}

/* .p-des {
  font-size: 1.2vw;
  margin: 5% 2% 5% 2%;
  align-items: strech;
  color: rgb(98, 97, 97);
} */

.p-title {
  font-size: 2vw;
  margin-top: 10%;
  font-weight: bold;
  color: rgb(4, 4, 4);
  text-decoration: none;
}

ul.p-li {
  /* background-color: white;
  border-radius: 1em;
  padding-left: 4%; */
  padding: 0%;
  list-style-type: none;
  font-size: 1vw;
  color: rgb(52, 52, 52);
  text-align: left;
  color: rgb(2, 2, 2);
  /* width: 40vh; */
  /* padding-left:15%; */
}

li {

  background-color: white;
    border-radius: 1em;
    margin: 3% 0;
    padding-left: 5%;
}

a {
  font-size: 2vh;
  color: white;
  background-color: black;
  border-radius: 1em;
  padding: 0% 7% 0% 7%;
  text-align: left;
}
 
.a-link {
  padding:1%;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}
/* section {
  font-size: 1.5em;
} */



@media only screen and (max-width: 600px) {
a {
  font-size: 1.3vh;
}

.a-link {
  padding:1%;
  text-align: center;
}
.port {
  font-size: 2vh;
  margin: 0;
  
}
.p-title {
  font-size: 2vh;
}
.p-list {
  padding: 3%;
  margin: 2%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.p-des {
  font-size: 1.2vw;
  margin: 0% 25% 0%;
  align-items: strech;
  color: rgb(98, 97, 97);
}

.casestudy img {
  width: '150%';
  height: '150%';
  padding: 0;
  background-color: 'white'
}

ul.p-li {
  text-align: center;
  font-size: 1.5em;
}
}