
.pl {
    padding: 50px 200px;
    display: block;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }

.p-list {
    width: 85%;
    display: flex;
    flex-direction: inline-flex;
    margin : 5%; 

    height: 60vh;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}



.p-list2 {
    width:150%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-left : auto;
    margin-right : auto;
    height: 50vh;
    align-items: center; 
}
.p-list img {
    max-width: 100%;
}

.p-des {
    margin: 5%;
    align-items: strech; 
    color : rgb(162, 188, 48);
}

.h2 {
    font : 50px;
    margin-top: 50%;
    padding : 50px;
    font-weight: bold;
}

.a {
    margin :5%;
}