h3 {
  text-align: center;
  margin: 5%;
  margin-top: 10%;
}

h4 {
  text-align: center;
  color: rgb(162, 188, 48);
}

.a {
  display: block;
  align-items: center;
  margin: 5%;
  /* padding: 0% 5% 0% 0%; */
}

.all {
  height: 50vh;
  display: flex;
}

.a-left {
  flex: 1;
  text-align: center;
  margin-left: 15%;
}

.a-left-title {
  font-size: 3vh;
  margin: 3%;
  color: rgb(149, 214, 214);
}
.a-left-wrapper {
  margin: 3% 3% 10% 3%;
  font-size: 2.5vh;
}
.a-right {
  flex: 1;

  /* align-items: center; */
  /* text-align: center; */
}

.imgme {
  height: 100%;
  width: 50%;
  padding-right: 10%;
}

.a-desc {
  font-size: 2.5vh;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 5% 20%;
  padding: 3%;
}
