video {
    width: 45vw;
    height: 50vmin;
}

.p-video {
    width: 48vw;
    height: 50vmin;
    overflow: scroll;
    /* border: 2px solid rgba(227, 227, 227, 0.041); */
    border-radius: 10px;
    filter: none;
    margin-right: 3%;
  }

  /* .p-video2 {
    width: 55vw;
  } */

.p-video:hover {
    /* border: 2px solid #dfff5d; */
}  

@media only screen and (max-width: 400px) {

video {
        width: 85vmin;
        height: 50vmin;
}
    
.p-video {
    width: 90vw;
    overflow: scroll;
    border: 2px solid rgba(227, 227, 227, 0.041);
    border-radius: 10px;
    filter: opacity(100%);
    
}
}