.p{
  width: 45vw;
  height: 60vmin;
  overflow: scroll;
  /* border:3px solid rgb(255, 255, 255); */
  border-radius: 10px;

  /* filter: opacity(70%); */
}

.p:hover{
  /* border: 3px solid #ffffff9f; */
  /* opacity: 50%; */
  /* background-color: rgb(153, 243, 50); */
}

img:hover {
  size:120%;
}



@media only screen and (max-width: 400px)  {
  .p {
    width: 85vw;
    overflow: ;
        border: 2px solid  #ffffff;
    border-radius: 10px;
    filter: opacity(100%);
  }

}

