

.p {
    width: 70%;
    margin: 10px;
    overflow: scroll;
    border : 2px solid rgb(183, 226, 226);
    border-radius: 10px;
}

/* .p-browser {
    height: 20px;
    background-color: rgb(161, 202, 202);
} */
