.s {
  height: 70px;
  width: 70px;
  /* background-color:rgb(183, 226, 226); */
  border: 2px solid rgb(183, 226, 226);
  border-radius: 50%;
  display: inline-block;
  margin: 2%;
  overflow: hidden;
}

.k-img {
  margin-left: 15%;
  margin-right: 15%;
}
.k-img img {
  margin: 5%;
  height: 60px;
  width: 55px;
}

.k-contact img {
  height: 60px;
  width: 60px;
}


@media only screen and (max-width: 400px) {
.k-img img {
    margin: 5%;
    height: 4.5vh;
    width: 9vw;
}
.s {
  height: 5vh;
  width: 10vw;
  /* background-color:rgb(183, 226, 226); */
  border: 2px solid rgb(183, 226, 226);
  border-radius: 50%;
  display: inline-block;
  margin: 2%;
  overflow: hidden;
}

.k-contact img {
  height: 5vh;
  width: 10vw;
}

.port {
  font-size: 2vh;
}
}