/* .casestudy img {
    width: '150%'!important;
    height: '150%' !important;
    background-color: white;
    margin: 0;
} */

@media only screen and (max-width: 400px)  {
    .casestudy  {
      width: 100vw;
      background-color: mediumvioletred;
    }
  
}
