.k {
    height: 40vh;
    width: auto;
    text-align: center;
}


.k-title {
    font-size: 2vw;
    text-align: center;
    margin: 5% 0% 1% 0%;
}

.contact {
    font-size: 2vh;
    margin-bottom: 3%;
}
/* .k-circle {
    height: 70px;
    width: 70PX;
   
    border : 2px solid rgb(183, 226, 226);
    border-radius: 50%;
    display: inline-block;
    margin: 2%;
    overflow: hidden;
} */



.k-contact {
    height: 20vh;
    font-size: 20px;
    display: flex;
    margin: 0% 40%;
    justify-content: space-evenly;
    /* text-align: center;
    align-items: center; */

}