.k {
    height: 40vh;
    width: auto;
    text-align: center;
}




.contact {
    font-size: 1vw;
    margin-bottom: 3%;
}
/* .k-circle {
    height: 70px;
    width: 70PX;
   
    border : 2px solid rgb(183, 226, 226);
    border-radius: 50%;
    display: inline-block;
    margin: 2%;
    overflow: hidden;
} */

.contact-list {
background:none;
outline:0;
}

.k-contact {
    padding-bottom: 10%;
    font-size: 20px;
    display: flex;
    margin: 0% 40%;
    justify-content: space-evenly;
    /* text-align: center;
    align-items: center; */

}