.i {
    display: flex;
    height: 60vh;
}

.i-left {
    flex:1;

    /* width: 70%;
    margin-top: auto;
    background-color:rgb(183, 226, 226); */
}


.i-left-wrapper{
    padding: 5%;
    margin-left: 280px;
    margin-right: auto;
    margin-top:50px;
}

.i-name {
    font-size: 50px;
}

.i-title {
    height: 50px;
}
.title-item {
    font-size: 30px;
    font-weight: 300;
}

.i-right{
    flex:1;
    width: 70%;

}

.intro-img{
    display: block;
    /* padding: 5%; */
    margin-top: 5%;
    margin-left:40%;

    align-items: center;
    width: 25%;
    height: 70%;
}



/* .i-right-square {
    margin-top : 50px;
    margin-left: 150px;
    height: 400px;
    width: 300px;
    align-items:center;
    background-color: rgb(183, 226, 226);

} */