.i {
  display: flex;
  height: 6-vmin;
}

.i-left {
  flex: 1;
  /* background-color: rgb(92, 222, 222); */
  margin-left: 20%;
  margin-top: 3%;
  margin-right: 20%;
  margin-bottom: 5%;
  font-size: 2vh;
}

.i-left-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  margin-bottom: -3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.i-hello {
  font-size: 1.5vw;
}
.i-name {
  font-size: 3vw;
}

.i-title {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: -5%;
}

.i-right {
  flex: 1;
  width: 70%;
}

.intro-img {
  display: block;
  margin-left: -70%;
  margin-top: 15%;
  align-items: center;
  width: 120%;
}

.intromc{
  display: flex;
  position: relative;
  align-items: center;
  /* height: 20%; */
}

.title-item {
  font-size:1em
}



@media only screen and (max-width: 600px) {

  .i {
    display: flex;
  }
  
  .intro-img {
    display: block;
    margin-left: -70%;
    margin-top: 20%;
    align-items: center;
    width: 170%;
    height: 85%;
}


  .i {
    display: flex;
  }

  .i-left {
    margin-left:10%;
  }
  .i-name {
    font-size: 4.5vw;
  }
  
  .i-title {
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: -5%;
  }
  
}